/*
Custom Css
*/

.h_right
{
	float:right;
	width:auto; 
	height:40px;
	margin-right:20px;
	text-decoration: none; 
}
#bouttonnnn
{
	 font-size: 10px;
	
}
/*  Login page*/
/* .custom-login-container {
	background-color: #f2f2f2;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: auto;
}

.custom-login-btn {
	background-color: #04aa6d;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.custom-login-btn:hover {
	background-color: #039c60;
}

.custom-input-field {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
} */
/* 
.custom-login-container
{
	background-color: #f2f2f2;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: auto;
} */





